@charset "UTF-8";

/*APARELHO EM PÉ*/

body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}